@mixin option($background-color, $hover-color) {
    cursor: pointer;
    text-align: center;
    padding: 2px 8px;
    margin: 2px;
    border-radius: 4px;
    color: var(--text-color);
    background-color: $background-color;

    &:hover {
        background-color: $hover-color;
    }
}

.multiselect-container {
    position: relative;
    background-color: var(--background-color-secondary);
    border-radius: var(--border-radius);
}

.input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 8px;
    background-color: var(--background-color-primary);

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.search-bar {
    min-width: 200px;
}

.selected-options-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--option-width);
    align-items: center;
    scrollbar-width: thin;
    overflow: auto;

    @media screen and (max-width: 768px) {
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill, var(--option-width));
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}

.selected-option {
    @include option(var(--primary-color), var(--primary-color-light));
}

.options-dropdown {
    position: absolute;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, var(--option-width));
    background-color: var(--background-color-primary);
    border-top: none;
    padding: 5px;
    gap: 10px;

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}

.dropdown-option {
    @include option(
        var(--background-color-secondary),
        var(--primary-color-light)
    );
}
