<div
    class="shadow multiselect-container"
    appClickOutside
    (clickOutside)="closeDropdown()"
>
    <div class="border input-container">
        <app-search
            class="search-bar"
            [searchValue]="searchTerm"
            (searchValueChange)="onInput($event)"
            (focus)="openDropdown()"
            placeholder="Search titles..."
        ></app-search>
        <div class="selected-options-container">
            <span
                *ngFor="let item of selectedOptions"
                (click)="toggleSelection(item)"
                class="selected-option"
            >
                {{ item }}
            </span>
        </div>
    </div>
    <div *ngIf="dropdownVisible" class="shadow border options-dropdown">
        <div
            *ngFor="let option of filteredOptions"
            class="dropdown-option"
            (click)="toggleSelection(option)"
        >
            {{ option }}
        </div>
    </div>
</div>
