.pagination {
    display: flex;
    justify-content: center;
}

.item {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.1s, box-shadow 0.1s;

    &:hover {
        background-color: var(--primary-color-light);
    }

    &.disabled {
        background-color: var(--border-color);
        color: white;
        cursor: not-allowed;

        &:hover {
            background-color: var(--border-color);
        }
    }
}

.active {
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.1s, box-shadow 0.1s;

    &:hover {
        background-color: var(--primary-color-dark);
    }
}
