.table-search {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.search-container {
    flex: 0 0 30%;
    padding: 8px;
}

.multiselect {
    flex-grow: 1;
}
