$option-width: minmax(150px, 1fr);
$primary-color: #007bff;
$secondary-color: #54a6ff;
$background-color: #f6f8f8;
$border-color: #dee2e6;
$hover-background-color: #e2e6ea;
$shadow-color: rgba(0, 0, 0, 0.1);

@mixin border() {
    border: 1px solid $border-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px $shadow-color;
}

.table-search {
    display: flex;
    padding: 10px;
    @include border;
    background-color: #fff;
    margin-bottom: 10px;
    gap: 10px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .search-container {
        box-sizing: border-box;
        flex: 0 0 40%;
        min-height: 36px;
        @include border;
        padding: 8px;
    }

    .multiselect {
        flex-grow: 1;
    }
}
