@import '../../../assets/css/variables';

.table-search {
    @include border;
    @include shadow;
    display: flex;
    padding: 10px;
    background-color: $background-color-primary;
    margin-bottom: 10px;
    gap: 10px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .search-container {
        @include border;
        @include shadow;
        box-sizing: border-box;
        flex: 0 0 40%;
        min-height: 36px;
        padding: 8px;
    }

    .multiselect {
        flex-grow: 1;
    }
}
