@import '../../../assets/css/variables';

.highlight {
    color: $primary-color-dark;
    font-weight: bold;
}

.employeeTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10vw;

    @media screen and (max-width: 992px) {
        margin: 20px 2vw;
    }
}

.active {
    background-color: $primary-color;
    color: black;
}

.table-container {
    @include shadow;
    overflow: auto;
}

.table {
    @include shadow;
    min-width: 500px;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    border-spacing: 0;
    overflow: hidden;
}

.table-header {
    background-color: $background-color-secondary;
}

.table-header-cell {
    padding: 10px;
    text-align: left;
    user-select: none;
    cursor: pointer;
}

.table-data-cell {
    padding: 10px;
    border-top: 1px solid $border-color;
}

.table-header-text {
    @include center;
    justify-content: space-between;
}
