$option-width: minmax(150px, 1fr);
$primary-color: #007bff;
$secondary-color: #54a6ff;
$background-color: #f6f8f8;
$border-color: #dee2e6;
$hover-background-color: #e2e6ea;
$shadow-color: rgba(0, 0, 0, 0.1);

.highlight {
    color: $primary-color;
    font-weight: bold;
}

.employeeTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 10vw 0 10vw;

    @media screen and (max-width: 992px) {
        margin: 2vw;
    }
}

.active {
    background-color: $primary-color;
    color: #fff;
}

table {
    border: 1px solid $border-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px $shadow-color;
    border-spacing: 0;
    table-layout: fixed;
    overflow: hidden;
}

thead {
    background-color: $background-color;
}

th,
td {
    padding: 10px;
}

td {
    border-top: 1px solid $border-color;
}

th {
    text-align: left;
    cursor: pointer;
    user-select: none;
}

.temp {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
