<div class="employeeTable">
    <app-table-search
        (search)="onSearch($event)"
        (multiselectOptionsSelected)="onMultiselectOptionsSelected($event)"
        [options]="allJobTitles"
    ></app-table-search>

    <div class="shadow table-container">
        <table class="shadow table">
            <thead class="table-header">
                <tr>
                    <th
                        *ngFor="let column of getDataColumns()"
                        (click)="onClickSort(column)"
                        class="table-header-cell"
                        [ngClass]="{ active: column === sortedColumn }"
                    >
                        <div class="center table-header-text">
                            <div>
                                {{ column | splitCamelCase | capitalizeFirst }}
                            </div>
                            <div *ngIf="column === sortedColumn">
                                {{ sortAscending ? '▲' : '▼' }}
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeesOnCurrentPage">
                    <td
                        *ngFor="let column of getDataColumns()"
                        class="table-data-cell"
                    >
                        <span
                            [innerHTML]="
                                column === 'jobTitle'
                                    ? employee[column]
                                    : getHighlightedText(employee[column])
                            "
                        ></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination
        [numberOfItems]="numberOfItems"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        (changedPage)="onChangedPage($event)"
    ></app-pagination>
</div>
