.form {
    max-width: 500px;
    background-color: var(--background-color-primary);
    padding: 8px;
    display: grid;
    margin: auto;
    gap: 16px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-color-secondary);
    outline: none;
}

.form-submit {
    background-color: var(--primary-color-dark);
    color: black;
    border: none;
    border-radius: var(--border-radius);
    padding: 8px;
    cursor: pointer;

    &:disabled {
        background-color: var(--border-color);
        color: white;
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        background-color: var(--primary-color-light);
    }
}
