@import '../../../assets/css/variables';

.form-container {
    margin: 20px 10vh;

    @media screen and (max-width: 992px) {
        margin: 20px 2vw;
    }
}

form {
    @include shadow;
    @include border;
    max-width: 500px;
    margin: auto;
    background-color: $background-color-primary;
    padding: 8px;
    display: grid;
    gap: 16px;

    label {
        font-weight: bold;
        margin-bottom: 4px;
    }

    .form-input {
        box-sizing: border-box;
        width: 100%;
        padding: 8px;
        border: none;
        border-radius: $border-radius;
        background-color: $background-color-secondary;
        outline: none;
    }

    .form-submit {
        background-color: $primary-color-dark;
        color: black;
        border: none;
        border-radius: $border-radius;
        padding: 8px 16px;
        cursor: pointer;

        &:disabled {
            background-color: $border-color;
            color: white;
            cursor: not-allowed;
        }

        &:not(:disabled):hover {
            background-color: $primary-color-light;
        }
    }
}
