<nav class="navbar">
    <div class="navbar-container">
        <div>
            <a class="navbar-title" routerLink="/">Data Display</a>
        </div>

        <ul class="navbar-menu">
            <li class="navbar-button-container">
                <a
                    class="navbar-button"
                    routerLink="/home"
                    routerLinkActive="active-navbar-button"
                    ><span><ng-icon name="heroHome"></ng-icon> Home</span></a
                >
            </li>
            <li class="navbar-button-container">
                <a
                    class="navbar-button"
                    routerLink="/add"
                    routerLinkActive="active-navbar-button"
                    ><span>Add</span></a
                >
            </li>
        </ul>

        <div class="navbar-toggle-container" (click)="toggleDropdown()">
            <div
                class="navbar-toggle-button"
                *ngFor="let i of [1, 2, 3]"
                [ngClass]="getBarClass(i)"
            ></div>
        </div>
    </div>
    <div>
        <ul class="dropdown-menu" *ngIf="dropdownVisible">
            <li class="dropdown-button-container">
                <a
                    class="dropdown-button"
                    routerLink="/home"
                    routerLinkActive="active-dropdown-button"
                    >Home</a
                >
            </li>
            <li class="dropdown-button-container">
                <a
                    class="dropdown-button"
                    routerLink="/add"
                    routerLinkActive="active-dropdown-button"
                    >Add</a
                >
            </li>
        </ul>
    </div>
</nav>
