@import '../../../assets/css/variables';

.navbar {
    margin: 20px 10vw;

    @media screen and (max-width: 992px) {
        margin: 20px 2vw;
    }
}

.navbar-container {
    @include shadow;
    @include border;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: $background-color-primary;
    border-radius: $border-radius;
    overflow: hidden;
}

.navbar-title {
    color: $primary-color-dark;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 20px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    height: 100%;

    @media (max-width: 768px) {
        display: none;
    }
}

.navbar-button-container {
    min-width: 100px;
    border-bottom: 2px solid $background-color-secondary;

    &:hover {
        border-bottom: 2px solid $primary-color-dark;
    }
}

.navbar-button {
    @include center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;

    span {
        margin: 0 10px;

        ng-icon {
            font-size: 1.1rem;
            vertical-align: top;
        }
    }

    &:hover {
        color: $primary-color-dark;
    }
}

.active-navbar-button {
    border-bottom: 2px solid $primary-color-light;
    color: $primary-color-light;
    font-weight: bold;

    &:hover {
        border-bottom: 2px solid $primary-color-dark;
    }
}

.dropdown-menu {
    @include center;
    @include shadow;
    @include border;
    flex-direction: column;
    list-style: none;
    background-color: $background-color-primary;
    padding: 10px;
    gap: 10px;
    border-radius: $border-radius;

    @media (min-width: 769px) {
        display: none;
    }
}

.dropdown-button-container {
    @include center;
    width: 100%;
    height: 40px;
}

.dropdown-button {
    @include center;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background-color: $background-color-secondary;
    color: black;
    text-decoration: none;

    &:hover {
        background-color: $primary-color-light;
        color: black;
    }
}

.active-dropdown-button {
    background-color: $primary-color-dark;
    color: black;
}

.navbar-toggle-container {
    display: none;
    cursor: pointer;
    margin-right: 20px;

    @media (max-width: 768px) {
        display: block;
    }
}

.navbar-toggle-button {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: $border-radius;

    $translate: 6.3px;
    &.bar1 {
        transform: rotate(-45deg) translate(-$translate, $translate);
    }

    &.bar2 {
        opacity: 0;
        transform: scaleX(0);
        transform-origin: center;
    }

    &.bar3 {
        transform: rotate(45deg) translate(-$translate, -$translate);
    }
}
