<nav class="navbar">
    <div class="navbar-container">
        <div>
            <a class="navbar-title" routerLink="/"
                ><ng-icon name="heroCube"></ng-icon>Data Display</a
            >
        </div>

        <ul class="navbar-menu">
            <li class="navbar-button-container" *ngFor="let link of navLinks">
                <a
                    class="navbar-button"
                    [routerLink]="link.path"
                    routerLinkActive="active-navbar-button"
                >
                    <span
                        ><ng-icon
                            style="--ng-icon__stroke-width: 1.7"
                            *ngIf="link.icon"
                            [name]="link.icon"
                        ></ng-icon>
                        {{ link.label }}</span
                    >
                </a>
            </li>
        </ul>

        <div class="navbar-toggle-container" (click)="toggleDropdown()">
            <div
                class="navbar-toggle-button"
                *ngFor="let i of [1, 2, 3]"
                [ngClass]="getBarClass(i)"
            ></div>
        </div>
    </div>
    <div>
        <ul class="dropdown-menu" *ngIf="dropdownVisible">
            <li class="dropdown-button-container" *ngFor="let link of navLinks">
                <a
                    class="dropdown-button"
                    [routerLink]="link.path"
                    routerLinkActive="active-dropdown-button"
                >
                    {{ link.label }}
                </a>
            </li>
        </ul>
    </div>
</nav>
