// $primary-color: #007bff;
// $secondary-color: #54a6ff;
// $background-color: #f6f8f8;
// $border-color: #dee2e6;
// $hover-background-color: #e2e6ea;
// $shadow-color: rgba(0, 0, 0, 0.1);
// $border-radius: 10px;

$primary-color: hsl(240, 100%, 70%);
$primary-hover-color: hsl(240, 100%, 80%);
$background-active-color: hsl(240, 100%, 97%);
$background-hover: hsl(240, 100%, 98%);
$background-color: #fff;
$border-radius: 10px;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    // border: 1px solid red;
    border-radius: $border-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px;
    height: 50px;
    overflow: hidden;
}

.navbar-title {
    color: $primary-color;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-menu {
    display: flex;
    list-style: none;
    height: 100%;

    .navbar-button {
        min-width: 100px;
        border-bottom: 2px solid $background-color;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: #000;
        }

        &:hover {
            // transition background color and border color fade in and out
            // transition:

            background-color: $background-hover;
            border-bottom: 2px solid $primary-hover-color;
        }
    }
}

.active-link {
    background-color: $background-active-color;
    border-bottom: 2px solid $primary-color;

    &:hover {
        background-color: $background-hover;
        border-bottom: 2px solid $primary-hover-color;
    }
}

.navbar-toggle {
    display: none;
    cursor: pointer;

    @media (max-width: 768px) {
        display: block;
    }
}
